<a href="https://colab.research.google.com/github/Pushkar-Adari/Python-New/blob/Module-2/Module_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

nCr

In [ ]:
import math
n = int(input("Enter N:"))
r = int(input("Enter R:"))
def NCR(x,y):
  num = math.factorial(x)
  den = math.factorial(y)*math.factorial(x-y)
  a = num/den
  b = int(a)
  print (b)
if n>r:
  NCR(n,r)
else:
  print("N cannot be less than R")

Enter N:12
Enter R:5
792

Program to print a specified list after removing the 0th, 4th and 5th elements

In [ ]:
def idk():
  List = ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
  List.pop(0)
  List.pop(3)
  List.pop(3)
  print(List)
idk()

['Green', 'White', 'Black']

Program to get the difference between the two lists

In [ ]:
a = ["a","b","c","f","e"]
b = ["x","y","c","g","h"]
x = set(a)
y = set(b)
def diff(x,y):
  p = x.difference(y)
  q = y.difference(x)
  g = list(p)
  h = list (q)
  z = g + h
  print(z)
diff(x,y)

['f', 'e', 'a', 'b', 'x', 'y', 'g', 'h']

Program to find the second smallest number and second largest number in a list.

In [ ]:

a = [6,3,0,7,8,5]
def gg(b):
  b = sorted(a)
  a1 = b[1]
  a2 = b[-2]
  print(a1)
  print(a2)
gg(a)

3
7

Given a list of numbers of list, write a Python program to create a list of tuples
having first element as the number and second element as the square of the
number

In [ ]:
list1 = [6,7,8,9,10]
list2=[]
def pow():
  for x in list1:
    tuple1 = (x,x*x)
    list2.append(tuple1)
    tuple1 = tuple(list2)
  print(tuple1)
pow()

((6, 36), (7, 49), (8, 64), (9, 81), (10, 100))

Given list of tuples, remove all the tuples with length 2

In [ ]:
list1 = [(4,5 ), (4, ), (8, 6, 7), (1, ), (3, 4, 6, 7)]
i = 0
while i < len(list1):
  if len(list1[i])==2:
    list1.pop(i)
  i = i + 1
print(list1)

[(4,), (8, 6, 7), (1,), (3, 4, 6, 7)]

Program to generate and print a dictionary that contains a number (between 1
and n) in the form (x, x*x)

In [ ]:
list1 = [1,2,3,4,5]
list2=[]
def pow():
  for x in list1:
    tuple1 = (x,x*x)
    list2.append(tuple1)
    tuple1 = dict(list2)
  print(tuple1)
pow()

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

Program to remove a key from a dictionary

In [ ]:
x = int(input("Enter key: "))
dict1 = {
    1 : "a",
    2 : "b",
    3 : "c"
}

del dict1[x]
print(dict1)

Enter key: 2
{1: 'a', 3: 'c'}

Program to get the maximum and minimum value in a dictionary

In [ ]:
dict1 = {1 : 888, 2 : 555, 3 : 777, 4 : 666, 5 : 999}

x = sorted(list(dict1.values()))

min = x[0]
max = x[-1]

print("The minimum value in the dictionary is",min , "and the maximum is",max)

The minimum value in the dictionary is 555 and the maximum is 999

In [ ]:
string = "I have to go to a doctor and get myself checked."
y = string.split(" ")
z = 'to'
count = 0
for z in string:
  if z in y:
    count = count + 1
print(count)

4

Replace b with c

In [ ]:
string = "rabbit"
print(string.replace("b","c"))

raccit

Acronym generator

In [ ]:
string = input(":")
acn = ""
smol = string.split(" ")
for word in smol:
  acn = acn + word[0].upper()
print(acn)

:Random access memory
RAM

Count number of upper case and lower case characters

In [ ]:
def counter(x):
  u = i = 0
  for a in x:
    if a.isupper():
      u = u + 1
    elif a.islower():
      i = i + 1
  print ("Upper case :",u)
  print ("lower case :",i)
string = input()
counter(string)

Idk raNdom BS
Upper case : 4
lower case : 7

print if word is longer than 2 characters and the first and last letter are the same

In [ ]:
l1 = ['abc', 'xyz', 'aba', '1221']
for word in l1:
  if len(word) > 2 and word[0]==word[-1]:
    print(word)

aba
1221