<a href="https://colab.research.google.com/github/Pushkar-Adari/Python-New/blob/Module-3/Module3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#read an entire text file
f = open("D:/222/text.txt", "r")
print(f.read())

x Create a function which accepts two inputs from the user and compute n
Cr
x Recursive function to compute GCD of 2 numbers
x Recursive function to find product of two numbers
x Recursive function to generate Fibonacci series
x Program to print a specified list after removing the 0th, 4th and 5th elements.
Sample List : ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
Expected Output : ['Green', 'White', 'Black']
x Program to get the difference between the two lists.
x Program to find the second smallest number and second largest number in a list.
x Given a list of numbers of list, write a Python program to create a list of tuples
having first element as the number and second element as the square of the
number.
x Given list of tuples, remove all the tuples with length K.
Input : test_list = [(4, 5), (4, ), (8, 6, 7), (1, ), (3, 4, 6, 7)], K = 2
Output : [(4, ), (8, 6, 7), (1, ), (3, 4, 6, 7)]
Explanation : (4, 5) of len = 2 is removed.
x Program to generate and print a dictionary that contains a number (between 1
and n) in the form (x, x*x).
Sample Input: (n=5) :
Expected Output : {1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
x Program to remove a key from a dictionary
x Program to get the maximum and minimum value in a dictionary

In [ ]:
#read the first n lines of a file
f = open("D:/222/text.txt", "r")
n = int(input("Enter number of lines to be printed: "))
for a in range(n):
    print(f.readline())

Enter number of lines to be printed: 5
x Create a function which accepts two inputs from the user and compute nCr

x Recursive function to compute GCD of 2 numbers

x Recursive function to find product of two numbers

x Recursive function to generate Fibonacci series

x Program to print a specified list after removing the 0th, 4th and 5th elements.

In [ ]:
#append text to a file and display the text
f = open("D:/222/text.txt", "a")
f.write("These are questions from module 2")
f.close()
f = open("D:/222/text.txt", "r")

print(f.read())

x Create a function which accepts two inputs from the user and compute nCr
x Recursive function to compute GCD of 2 numbers
x Recursive function to find product of two numbers
x Recursive function to generate Fibonacci series
x Program to print a specified list after removing the 0th, 4th and 5th elements.
Sample List : ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
Expected Output : ['Green', 'White', 'Black']
x Program to get the difference between the two lists.
x Program to find the second smallest number and second largest number in a list.
x Given a list of numbers of list, write a Python program to create a list of tuples
having first element as the number and second element as the square of the
number.
x Given list of tuples, remove all the tuples with length K.
Input : test_list = [(4, 5), (4, ), (8, 6, 7), (1, ), (3, 4, 6, 7)], K = 2
Output : [(4, ), (8, 6, 7), (1, ), (3, 4, 6, 7)]
Explanation : (4, 5) of len = 2 is removed.
x Program to generate and print a dictionary that contains a number (between 1
and n) in the form (x, x*x).
Sample Input: (n=5) :
Expected Output : {1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
x Program to remove a key from a dictionary
x Program to get the maximum and minimum value in a dictionaryThese are questions from module 2

In [ ]:
#Read numbers from a file and write even and odd numbers to separate files
f = open("D:/222/even_odd.txt", "r")
string = f.read()
x = string.split()
even = []
odd = []
for i in range(0, len(x)):
    x[i] = int(x[i])
for a in x:
    if a%2 == 0:
        b = str(a)
        f = open("D:/222/even.txt", "a")
        f.write(b)
        f.write(" ")
        f.close()
    else:
        b = str(a)
        f = open("D:/222/odd.txt", "a")
        f.write(b)
        f.write(" ")
        f.close()

f = open("D:/222/even.txt", "r")
print(f.read())
f = open("D:/222/odd.txt", "r")
print(f.read())

2 4 6 4 8 10 12 14 16 18 20
1 3 5 7 9 11 13 15 17 19

In [ ]:

#NO. OF LINES

f = open("D:/222/text1.txt", "r")
lines_count = 0
for line in f:
    lines_count = lines_count + 1

#NO. OF CHARACTERS

character = 0
f = open('D:/222/text1.txt', 'r')
lines = f.readlines()
mystr = '\t'.join([line.strip() for line in lines])
for x in mystr:
    character = character + 1

#NO. OF WORDS
word_count = str.split(mystr)

print("The file contains",lines_count,"lines,",character,"characters and",len(word_count),"words.")

The file contains 5 lines, 186 characters and 30 words.

In [ ]:
sample = ["Pushkar","adari","VU21CSEN0100473","CSE-CORE"]
f = open("D:/222/listtotxt.txt","w")
for word in sample:
    f = open("D:/222/listtotxt.txt","a")
    f.write(word)
    f.write(" ")
    f.close()
f = open("D:/222/listtotxt.txt", "r")
print(f.read())

Pushkar adari VU21CSEN0100473 CSE-CORE

In [ ]:
import pandas as pd
req = int(input("Enter required Age:"))
record = {
  
 'Name': ['Amit', 'Raj', 'Akshay', 'Priyanka', 'Priya', 'Suraj' ],
 'Age': [21, 19, 20, 18, 17, 21]}
  
dataframe = pd.DataFrame(record, columns = ['Name', 'Age'])
rslt_df = dataframe[dataframe['Age'] >= req]
  
print(rslt_df)

Enter required Age:18
       Name  Age
0      Amit   21
1       Raj   19
2    Akshay   20
3  Priyanka   18
5     Suraj   21

In [ ]:
import pandas as pd
record = {
 'Name': ['Amit', 'Raj', 'Akshay', 'Priyanka', 'Priya', 'Suraj' ],
 'Occupation': ['Doctor', 'Lawyer','Police', 'Dentist', 'Tattoo Artist', 'Teacher'],
 'Salary': [150000,120000,60000,84000,40000,35000],}
  
dataframe = pd.DataFrame(record, columns = ['Name', 'Occupation', 'Salary'])
rslt_df = dataframe['Salary']
mean = dataframe["Salary"].mean()
print("The average salary is",mean)

The average salary is 81500.0

In [ ]:
import json
x = {"name": "Pushkar Adari","age": 18 ,"city": "Vizag"}
y = json.dumps(x)
print(y)

{"name": "Pushkar Adari", "age": 18, "city": "Vizag"}

In [ ]:
import pandas as pd
columns = [1]

df = pd.read_csv('E:/DATA/idk.csv',usecols = columns)
print(df)

       Name
0     Ashok
1       Raj
2    Aditya
3    Vishnu
4       Ram
5   Praveen
6     Jyoti
7     Kiran
8      Maya
9    Sheela
10    Lilly
11   Jairam
12  Prakash
13   Lokesh
14  Abhiram
15   Sachin
16     Sita
17   Bhagat
18  Jayanth
19  Kishore